# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- Inserting a markdown cell
- Creating a code cell
- Knowing about programming languages used in Data Science
- Using Jupiter Notebooks

Some of the commonly used libraries used by Data Scientists include:

- pandas
- numpy
- matplotlib

| Data Science Tools  |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| VS Code             |

### Below are a few examples of evaluating arithmetic expressions in Python
2+8*56
5**2
-3/14

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = int(minutes/60)
print (hours)

3

## Author